*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
}

body.dark-mode {
    background-color: #1e1e1e;
    color: white
}

.dark-mode-toggle {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center;
    margin-bottom: 16px;
}

.dark-mode-label {
    margin-top: 8px; /* Add margin to separate from the QR code */
    font-size: 14px; /* Adjust font size as needed */
    padding-left: 20px;
    color: black;
}

.dark-mode-label a {
    padding-right: 20px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .slider {
    background-color: #2196F3; /* Custom background color when on */
}

input[type="checkbox"]:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 8px; /* Add margin to separate from the QR code */
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Default background color when off */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white; /* Background color when on */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.card {
    width: 320px;
    padding: 16px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 6px 3px 15px rgba( 0, 0, 0, 0.2);
}

.card > img {
    max-width: 100%;
    border-radius: 10px;
}

.title { 
    text-align: center;
    margin: 20px 0;
    font-size: 1.4rem;
    color: hsl(218 44% 22%);
}

.card > p {
    text-align: center;
    margin-bottom: 20px;
    color: hsl(220 15% 55%);
}

